 *{
    padding: 0;
    margin: 0;
    
}

body  {
    background-color: black;
} 


#faqImage {
    height: 40px;
    width: 40px;
    
    
}

.faq-item {
    
    border-bottom: 2px solid hsl(275, 100%, 97%);
    padding-top: 10px;
    justify-content: space-between;
    
}

.faq-item h1,img {
    display: inline-block;
}

#cardCSS {
    
    padding: 20px 0px ;
    border-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);

}

#star {
    height: 25px;   
    margin-left: 5px; 
    margin-top: -5px;
}

#h11 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    color: hsl(292, 42%, 14%);
    padding-left: 10px;
}



.firstH1 {
    color: hsl(292, 42%, 14%);
    font-size: 1.063rem;
    font-weight: 600;
    font-family: 'Work Sans';
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
    
    

}

.firstH1:hover{
    color:hsl(281, 83%, 54%);
    cursor: pointer;
}

.pClass {
    font-size: 1.063rem;
    font-weight: 400;
    color: hsl(292, 16%, 49%);
    font-family: 'Work Sans';
    margin-bottom: 30px;
    
    
}

.iconPlus {
   margin-top: -3px; 
   float: right;
   display: block;
}

.iconMinus {
    
    display: none;
    float: right;
    margin-top: -3px;
}

.faq h1,img {
    display: inline-block;
}


@media only screen and (min-width: 1200px)  { /* Working on this one */
    /* Styles for laptops and desktops */
    #mobileBackground {
        display: none;
    }
   
    #desktopBackground{
        display:visible;
    }

    #cardCSS {
        top: -200px;
    }
    
    .firstH1 {
        min-width: 430px;
    }
    
    .faq-item {
        min-width: 500px;
    }
}

@media only screen and  (min-width:992px) {
    /* Styles for portrait tablets and large phones */
    #desktopBackground {
        display: none;
    }

    .firstH1 {
        min-width: 400px;
    }

    .faq-item  {
       min-width: 400px;
    }
}


@media only screen and (min-width:768px) and (max-width:991.98px) {

    #desktopBackground {
        display:none;
    }

    .faq-item {
      min-width: 40px;
    }

    #cardCSS {
    
        top: -100px;
    }

    .firstH1 {
        width: 85%;
    }
}


@media only screen and (min-width:576px) and (max-width:767.98px) {
    /* Styles for phones */
    #desktopBackground {
        display: none;
    }

   #cardCSS {
    top: -100px;
   }


    .firstH1 {
        width: 80%;
    }
}

@media only screen and (min-width:451px) and (max-width:575.98px){
 
    #desktopBackground {
        display: none;
      
       }
   
       #cardCSS {
           width: 95%;
           top: -100px;
       }

       .firstH1 {
        width:75%
        
       }
}

@media only screen and (max-width:450.98px) and (min-width:411px) {
   #desktopBackground {
     display: none;
   
    }

    #cardCSS {
        width: 95%;
        top: -100px;
    }

    .firstH1 {
        
        width:70%;
    }

    .pClass {
        min-width: 300px;
    }


}

@media only screen and (min-width:350px) and (max-width:410.98px) {
    
    #desktopBackground {
     display: none;
    }
 
    #cardCSS {
    width: 95%;
    top: -100px;
 }

 .firstH1 {
    max-width: 220px;
 }

 .pClass {
    min-width: 220px;
 }
}